body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  border: 1px solid;
  width: 40rem;
  height: 25rem;
}

.contact-form {
  padding: 3rem;
}

.lastName,
.firstName {
  width: 20rem;
  margin-bottom: 1rem;
}

.select-gender {
  margin-bottom: 1rem;
}

.message {
  width: 20rem;
  margin-bottom: 1rem;
}
.btn {
  margin-left: 15rem;
  width: 5rem;
  height: 2rem;
  background-color: rgb(45, 179, 163);
  color: white;
}

.select-gender {
  margin-left: 4rem;
}

.alert-success {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e6f4e4;
  color: #2f7a2f;
  border: 1px solid #b7e0b3;
  font-family: Arial, sans-serif;
  width: 40rem;
}

.alert-success .icon {
  font-size: 18px;
  color: #2f7a2f;
}

.alert-success .message {
  flex: 1;
  font-size: 14px;
}

.alert-success .close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #2f7a2f;
}

.hidden {
  display: none;
}

.img {
  align-content: center;
}

img {
  width: 13.5rem;
  height: 25rem;
}

.error-class {
  border: 1px solid red;
}
